
body{
    font-family: Arial,sans-serif;

    display: flex;
justify-content: center;
align-items: center;

}
.container {
display: grid;
   grid-template-columns:repeat(2,1fr) ;
    gap: 30px;

}
.box_Users{
    gap: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 100px;
}
h1,h2{
    font-size: 20px;
}
button {
    font-size: 20px;
   border: 2px solid black;
    border-radius: 20px;
    width: 40%;
    transition: 0.5s;

}
button:hover{
    transform: scale(0.9);
    transition: 0.5s;
}